.wrapper {
  display: block;
  padding: 20px 20px;
}

.label {
  display: block;
  font-size: 18px;
  line-height: 1.5;
}

.input {
  display: block;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  border: 1px solid #34345664;
  border-radius: 12px;
}
