.section {
  display: block;
  min-height: calc(95vh);
  font-weight: 700;
  background-image: linear-gradient(
      to left,
      rgb(210, 200, 200, 0.9),
      rgb(215, 200, 200, 0.5)
    ),
    url(../img/background/contacts-page.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.service {
  width: 50%;
}

.title {
  padding-top: 1em;
  text-align: center;
  font-size: 34px;
  line-height: 1.33;
}
