.container {
  display: block;
  min-height: calc(95vh);
  background-image: linear-gradient(
      to bottom,
      rgb(210, 200, 200, 0.9),
      rgb(215, 200, 200, 0.4)
    ),
    url(../img/background/home-page.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  padding-top: 1.5em;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.33;
}
