.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.33;
}
