.container {
  display: block;
  min-height: calc(95vh);
  padding: 20px 32px;
  background-image: linear-gradient(
      to bottom,
      rgb(210, 200, 200, 0.7),
      rgb(215, 200, 200, 0.2)
    ),
    url(../img/background/login-page.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 20px;
}
